.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255,0);
  --primary-green: #008000;
  --primary-red: #FF0000;
  --primary-hover-red: #f33501;
}

body {
  font-family: "Roboto Condesed" sans-serif;
}

/***************************NavBar**************************/
nav {
  z-index: 5;
  position: fixed;
}
.logo{
  position: fixed;
  left: 0rem;
  top: 1.5rem;
  width: 7.25rem;

}
/* .container {
  position:fixed;
  top:0;
  z-index: 5;
  /* background: #343A40; 
} */

/*------------------------Menu Links------------------------*/
nav a.nav-link {
   
  letter-spacing: 0.0375rem;
  cursor: pointer;
  
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  font-size: 1.2em;
  font-weight: 800;
  border-top: 0.1875rem solid var(--primary-dark);
  /* Create a conic gradient. */
  /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
  background: #CA4246;
  background-color: #CA4246;
  background: conic-gradient(
    #CA4246 16.666%, 
    #E16541 16.666%, 
    #E16541 33.333%, 
    
    #ffeb75 66.666%,
    /* #476098 66.666%,
    #476098 83.333%, */
    var(--primary-green) 83.333%,
    #F18F43 50%, 
    #8B9862 50%, 
    #8B9862 66.666%,
    #F18F43 33.333%, 
     
     
    #A7489B 83.333%);
  
  /* Set thee background size and repeat properties. */
  background-size: 57%;
  background-repeat: repeat;
  
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  
  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-animation-rev 0s ease-out;

  cursor: pointer;
}

.navbar-brand {
  max-width: 17.25 rem;
  padding: 0 !important;
  height: 6rem !important;

}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
  animation: rainbow-text-animation 0.5s ease forwards;
} 

@keyframes rainbow-text-animation {
  0% {
    background-size: 57%;
    background-position: 0 0;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 300%;
    background-position: -9em 1em;
  }
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-animation-rev {
  0% {
    background-size: 300%;
    background-position: -9em 1em;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 57%;
    background-position: 0 0;
  }
}


/*************************** Header **************************/

.header-wraper {
  position: relative;
  background: url(webdeveloper.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;

}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed" sans-serif;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.main-info h1 {
  color: var(--primary-green);
  font-size: 3em;
  font-family: 'Courier New', monospace;
}
 
/*************************** Typed **************************/

.typed-text {
  font-size: 1.7rem;
  color: #41f0e1;
  text-transform: uppercase;
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }

  .typed-text {
    font-size: 1.3rem !important;
  }
}

/*************************** Header Main Offer Button**************************/
.btn-main-offer {
  border: 1px solid var(--primary-green);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  z-index: 1;
  margin-top: 1%;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color:#000000;
  color: var(--primary-white);
  transition: 0.3s ease-in-out;

}
/*************************** Particles **************************/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

/*************************** About **************************/
.aboutPage {
  position: relative;
  background-color:#000000;
  background-size: cover;
  background-position: center;
  height:fit-content;
  width: fit-content;
}
.main-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed" sans-serif;

}

.main-about h1 {
  color: var(--primary-green);
  font-size: 50px;
  font-family: 'Courier New', monospace;
  /* float: left; */
  position: relative;
  margin-top: 10%;
  margin-bottom: 3%;

  
}


.text1 {
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 2px dotted #099FFF;
  padding: 2% 2% 2% 2%;
  text-align: justify; 
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%; 
  font-size: 20px;
  width: 50%;
}
.linkedin{
  width: 10vw ;
  height: 3%;
  /* align-items: baseline; */
  
  
}
.github{
  width: 8vw;
  padding: 1% 1%;
  
}
.alignment {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  

}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
  padding: 2% 2%;
  z-index: 4;
  
  
}
.text1 h4{
  color: rgb(237, 212, 64);
  font-family: 'Original Surfer', cursive;
}
.photo {
  height: 60vmin;
  z-index: 1;
  border-radius: 50%;
  border: 2px solid var(--primary-green);
  margin-left: 5%;
  
}

@media(max-width: 768px) {
  .main-about h1 {
    font-size: 1.8rem !important;
  }

  .text1 {
    font-size: 1.1rem !important;
    margin-right: 4%;
    margin-left: 4%;

  }
  .aboutPage{
    height: max-content;
  }
}

/*************************** Particles **************************/
.aboutPart {
  position: absolute;
  height: 60vh;
  width: 100%;
  z-index: 1;
} 



