.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255,0);
  --primary-green: #008000;
  --primary-red: #FF0000;
  --primary-hover-red: #f33501;
}

body {
  font-family: "Roboto Condesed" sans-serif;
}

/***************************NavBar**************************/
nav {
  z-index: 2;
}
.logo{
  position: absolute;
  left: 0rem;
  top: 1.5rem;
  width: 7.25rem;

}

/*------------------------Menu Links------------------------*/
nav a.nav-link {
   
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25 rem;
  padding: 0 !important;
  height: 6rem !important;

}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
} 

/*************************** Header **************************/

.header-wraper {
  position: relative;
  background: url(webdeveloper.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;

}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed" sans-serif;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.main-info h1 {
  color: var(--primary-green);
  font-size: 50px;
  font-family: 'Courier New', monospace;
}
 
/*************************** Typed **************************/

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
  text-transform: uppercase;
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }

  .typed-text {
    font-size: 1.3rem !important;
  }
}

/*************************** Header Main Offer Button**************************/
.btn-main-offer {
  border: 1px solid var(--primary-green);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  z-index: 1;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color:#000000;
  color: var(--primary-white);
  transition: 0.3s ease-in-out;

}
/*************************** Particles **************************/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

/*************************** About **************************/

.aboutPage {
  position: relative;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  height:fit-content;
  width: fit-content;
}
.main-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed" sans-serif;

}

.main-about h1 {
  color: var(--primary-green);
  font-size: 50px;
  font-family: 'Courier New', monospace;
  
}

.text1 {
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  display: flex;
  text-align: justify;
  align-content: center;
  align-items: center;
  margin-top: 5%;
  margin-right: 30%;
  margin-left: 30%;
  margin-bottom: 5%;  
  font-size: 25px;
}

.photo {
  
  height: 40vmin;
  z-index: 1;
  border-radius: 30%;
}

@media(max-width: 768px) {
  .main-about h1 {
    font-size: 1.8rem !important;
  }

  .text1 {
    font-size: 1.1rem !important;
    margin-right: 5%;
    margin-left: 5%;

  }
  .aboutPage{
    height: max-content;
  }
}

/*************************** Particles **************************/
.aboutPart {
  position: absolute;
  height: 60vh;
  width: 97vw;
  z-index: 1;
} 
